<a href="https://colab.research.google.com/github/SamuelVinay91/MachineLearning/blob/master/Forecasting_a_Time_Series_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%matplotlib inline
import pandas as pd
data = pd.read_csv("monthly-beer-production-in-austr.csv",index_col=0)
data.head()

         Monthly beer production in Australia
Month
1956-01                                  93.2
1956-02                                  96.0
1956-03                                  95.2
1956-04                                  77.1
1956-05                                  70.9

Right now our index is actually just a list of strings that look like a date, we'll want to adjust these to be timestamps, that way our forecasting analysis will be able to interpret these values:

In [5]:
data.index

Index(['1956-01', '1956-02', '1956-03', '1956-04', '1956-05', '1956-06',
       '1956-07', '1956-08', '1956-09', '1956-10',
       ...
       '1994-11', '1994-12', '1995-01', '1995-02', '1995-03', '1995-04',
       '1995-05', '1995-06', '1995-07', '1995-08'],
      dtype='object', name='Month', length=476)

In [0]:
data.index = pd.to_datetime(data.index)

In [7]:
data.head()

            Monthly beer production in Australia
Month
1956-01-01                                  93.2
1956-02-01                                  96.0
1956-03-01                                  95.2
1956-04-01                                  77.1
1956-05-01                                  70.9

In [8]:
data.index

DatetimeIndex(['1956-01-01', '1956-02-01', '1956-03-01', '1956-04-01',
               '1956-05-01', '1956-06-01', '1956-07-01', '1956-08-01',
               '1956-09-01', '1956-10-01',
               ...
               '1994-11-01', '1994-12-01', '1995-01-01', '1995-02-01',
               '1995-03-01', '1995-04-01', '1995-05-01', '1995-06-01',
               '1995-07-01', '1995-08-01'],
              dtype='datetime64[ns]', name='Month', length=476, freq=None)

Let's first make sure that the data doesn't have any missing data points:

In [9]:
data[pd.isnull(data['Monthly beer production in Australia'])]

Empty DataFrame
Columns: [Monthly beer production in Australia]
Index: []

Let's also rename this column since its hard to remember what "IPG2211A2N" code stands for:

In [0]:
data.columns = ['Beer Production']

In [11]:
data.head()

            Beer Production
Month
1956-01-01             93.2
1956-02-01             96.0
1956-03-01             95.2
1956-04-01             77.1
1956-05-01             70.9

In [0]:
import plotly.plotly as py
# plotly.tools.set_credentials_file()

py.sign_in("bapatla92","TDYgVlKiacyhhnDcmScG")

In [19]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~bapatla92/0 or inside your plot.ly account where it is named 'plot from API'

'https://plot.ly/~bapatla92/0'

In [0]:
import plotly.plotly as ply
import cufflinks as cf
# Check the docs on setting up offline plotting

In [28]:
data.iplot(title="Beer Production Jan 1956--Aug 1995", theme='pearl')

In [31]:
from pyramid.arima import auto_arima

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning:

The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning:

sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.

/usr/local/lib/python3.6/dist-packages/pyramid/__init__.py:68: UserWarning:


    The 'pyramid' package will be migrating to a new namespace beginning in
    version 1.0.0: 'pmdarima'. This is due to a package name collision with the
    Pyramid web framework. For more information, see Issue #34:

        https://github.com/tgsmith61591/pyramid/issues/34

    The package will subsequently be installable via the name 'pmdarima'; the
    only functional change to the user will be the import name. All imports
    from 'pyramid' will change to 'pmdarima'.

**he AIC measures how well a model fits the data while taking into account the overall complexity of the model. A model that fits the data very well while using lots of features will be assigned a larger AIC score than a model that uses fewer features to achieve the same goodness-of-fit. Therefore, we are interested in finding the model that yields the lowest AIC value.

In [32]:
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=3474.251, BIC=3494.939, Fit time=3.423 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=4012.558, BIC=4020.833, Fit time=0.070 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=3818.509, BIC=3835.060, Fit time=1.222 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=3484.024, BIC=3500.575, Fit time=3.873 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=3468.503, BIC=3493.329, Fit time=7.500 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 0, 12); AIC=3581.675, BIC=3602.364, Fit time=2.758 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=3469.454, BIC=3498.418, Fit time=18.108 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=3640.959, BIC=3657.510, Fit time=1.086 seconds
Fit ARIMA: order=(1, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=3463.011, BIC=3496.113, Fit time=26.177 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=3472.640, BIC=3501.604, Fit time=27.904 seconds
Fit ARIMA: order=(2, 1, 1) seasonal_order=(2, 1, 2, 12); AIC=3448.037, BIC=3485.277, Fit time=29.553 seconds
Fit ARIMA: order=(2, 1, 0) seasonal_order=(2, 1, 2, 12); AIC=3547.123, BIC=3580.225, Fit time=17.966 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(2, 1, 2, 12); AIC=3445.454, BIC=3486.831, Fit time=24.742 seconds
Fit ARIMA: order=(3, 1, 3) seasonal_order=(2, 1, 2, 12); AIC=3401.021, BIC=3450.674, Fit time=32.379 seconds
Fit ARIMA: order=(3, 1, 3) seasonal_order=(1, 1, 2, 12); AIC=3392.401, BIC=3437.916, Fit time=30.329 seconds
Fit ARIMA: order=(3, 1, 3) seasonal_order=(1, 1, 1, 12); AIC=3397.272, BIC=3438.649, Fit time=14.266 seconds
Fit ARIMA: order=(3, 1, 3) seasonal_order=(0, 1, 1, 12); AIC=3397.242, BIC=3434.481, Fit time=12.817 seconds
Fit ARIMA: order=(2, 1, 3) seasonal_order=(1, 1, 2, 12); AIC=3404.698, BIC=3446.075, Fit time=30.205 seconds
Fit ARIMA: order=(3, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=3449.294, BIC=3490.672, Fit time=16.932 seconds
Fit ARIMA: order=(2, 1, 2) seasonal_order=(1, 1, 2, 12); AIC=3447.321, BIC=3484.560, Fit time=15.472 seconds
Fit ARIMA: order=(3, 1, 3) seasonal_order=(0, 1, 2, 12); AIC=3398.735, BIC=3440.112, Fit time=29.810 seconds
Total fit time: 346.610 seconds

In [33]:
stepwise_model.aic()

3392.4005411365497

## Train Test Split

In [34]:
data.head()

            Beer Production
Month
1956-01-01             93.2
1956-02-01             96.0
1956-03-01             95.2
1956-04-01             77.1
1956-05-01             70.9

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 476 entries, 1956-01-01 to 1995-08-01
Data columns (total 1 columns):
Beer Production    476 non-null float64
dtypes: float64(1)
memory usage: 7.4 KB

We'll train on 20 years of data, from the years 1985-2015 and test our forcast on the years after that and compare it to the real data.

In [0]:
train = data.loc['1956-01-01':'1977-12-01']

In [44]:
train.tail()

            Beer Production
Month
1977-08-01            152.6
1977-09-01            166.8
1977-10-01            165.6
1977-11-01            198.6
1977-12-01            201.5

In [0]:
test = data.loc['1965-01-01':]

In [47]:
test.head()

            Beer Production
Month
1965-01-01            106.9
1965-02-01             96.6
1965-03-01            127.3
1965-04-01             98.2
1965-05-01            100.2

In [48]:
test.tail()

            Beer Production
Month
1995-04-01            127.0
1995-05-01            151.0
1995-06-01            130.0
1995-07-01            119.0
1995-08-01            153.0

In [49]:
len(test)

368

In [50]:
stepwise_model.fit(train)

ARIMA(callback=None, disp=0, maxiter=50, method=None, order=(3, 1, 3),
      out_of_sample_size=0, scoring='mse', scoring_args={},
      seasonal_order=(1, 1, 2, 12), solver='lbfgs', start_params=None,
      suppress_warnings=True, transparams=True, trend='c')

In [0]:
future_forecast = stepwise_model.predict(n_periods=368)

In [56]:
future_forecast

array([164.59704629, 167.7483978 , 176.35537324, 156.77306878,
       165.99177166, 138.06080563, 144.44915675, 164.48395995,
       162.82514855, 176.67181309, 199.08293507, 203.13826344,
       172.92714543, 173.74108403, 174.48190172, 166.70829738,
       170.1183983 , 137.56362789, 155.03664024, 166.91805143,
       163.27897539, 187.61299932, 200.32003934, 205.08453983,
       183.72399655, 173.52494064, 178.38475602, 176.71763012,
       169.15383486, 142.89047551, 164.12340976, 165.53037955,
       170.3265899 , 195.42336665, 198.75386792, 213.51777027,
       190.08971367, 172.45043902, 187.76709089, 181.65571573,
       168.76959235, 153.16148266, 167.52716879, 166.19876164,
       180.90947611, 197.43700035, 200.81589657, 224.08335171,
       190.90539257, 175.94128272, 198.00222432, 181.50424161,
       173.84518288, 162.5659725 , 166.81480629, 172.80141935,
       189.27987537, 196.53181245, 208.76090805, 231.16225757,
       190.20792694, 185.06278216, 203.62199314, 181.41771209,
       183.794159  , 166.77109478, 167.64095702, 183.23378404,
       192.0962593 , 198.544169  , 219.32087848, 232.77636725,
       193.58606245, 195.34117951, 204.30274596, 186.23768673,
       193.46379293, 166.79393891, 173.91035556, 191.98919246,
       191.83706174, 206.15644981, 226.91863297, 232.59376595,
       202.3534843 , 201.64848037, 204.5457682 , 195.90472383,
       198.41207529, 167.80687168, 184.15269178, 195.61846547,
       193.87970959, 216.6271906 , 229.36303918, 235.87070193,
       212.69496455, 203.10912997, 209.1774984 , 205.77314997,
       199.16931592, 173.80878428, 193.25089296, 195.9912426 ,
       201.1910566 , 224.71234581, 229.69175134, 244.33706563,
       219.60020322, 203.74060665, 218.57066894, 211.41750708,
       200.41974269, 183.8504908 , 197.63856195, 198.13551073,
       211.55833397, 227.93690239, 232.94298449, 254.69626429,
       221.83384742, 208.2325282 , 228.59619431, 212.89825228,
       206.20565931, 193.24311841, 198.65554996, 205.18082061,
       220.07218387, 228.80711012, 241.13016562, 262.14884228,
       222.88172817, 217.37248983, 234.88174766, 214.43363647,
       216.04825064, 198.34038303, 200.95168881, 215.43529331,
       224.04090913, 232.08423872, 251.48484077, 265.12736611,
       227.2922379 , 227.5151142 , 237.07539923, 220.05284935,
       225.6888359 , 200.00564031, 207.77458838, 224.32408494,
       225.46904868, 240.02633097, 259.4289002 , 266.62276522,
       236.19689627, 234.39100726, 238.93524718, 229.70303203,
       231.44903379, 202.50040184, 217.90815783, 228.99963916,
       228.82368476, 250.35486378, 263.12594878, 271.00295784,
       246.42541289, 237.28215163, 244.43686883, 239.55005703,
       233.76105142, 209.14389855, 227.12470275, 230.99696725,
       236.55433023, 258.74057316, 265.09228688, 279.69536956,
       253.84144997, 239.50110293, 253.90472508, 245.92752737,
       236.49672483, 219.15361176, 232.46813893, 234.47658252,
       246.84136111, 263.12656956, 269.49134354, 289.98278985,
       257.41230274, 244.9322538 , 263.92207991, 248.88057952,
       243.0032506 , 228.65505473, 235.04160719, 242.03047029,
       255.62201193, 265.58274282, 277.99632061, 297.89185796,
       260.01944701, 254.23140433, 270.87224755, 251.89469764,
       252.89052666, 234.62741611, 238.68929525, 252.26544154,
       260.66622123, 270.04634774, 288.32096662, 302.1217411 ,
       265.42541444, 264.38782661, 274.45707985, 258.30589642,
       262.63841872, 237.7795878 , 246.10177221, 261.39804682,
       263.62622333, 278.39063182, 296.67854252, 305.1414342 ,
       274.5722499 , 271.86772048, 277.78248753, 268.07592381,
       269.20110199, 241.63435406, 256.27844171, 267.06880872,
       268.1968217 , 288.73544046, 301.54475989, 310.56514919,
       284.84121566, 276.07196905, 284.1388963 , 278.03617494,
       272.93065313, 248.94084547, 265.72379672, 270.54225557,
       276.40840314, 297.49993276, 304.99674129, 319.57846292,
       292.80969035, 279.73704852, 293.80012849, 285.15128076,
       277.0274504 , 259.05692395, 271.98895718, 275.25891162,
       286.76066942, 302.97816246, 310.47866972, 329.93786693,
       297.6183968 , 286.07776898, 303.94288396, 289.45346933,
       284.26307871, 268.77956212, 275.98149035, 283.36661622,
       295.89348496, 306.87791173, 319.37914127, 338.35586592,
       301.64725967, 295.64147168, 311.57353756, 293.8232809 ,
       294.31979947, 275.60688981, 280.87985207, 293.71761705,
       301.95824733, 312.45588237, 329.81104965, 343.75191797,
       308.00971063, 305.94094269, 316.4406469 , 301.0225273 ,
       304.28794683, 280.12056192, 288.91293881, 303.18323886,
       306.31729384, 321.26565111, 338.64177443, 348.16464269,
       317.48951657, 314.0515741 , 321.11060702, 311.02422931,
       311.64548601, 285.23287369, 299.25757091, 309.8082977 ,
       312.02640017, 331.75601174, 344.60634018, 354.58434781,
       327.92379372, 319.47333379, 328.3070162 , 321.20972367,
       316.67914906, 293.22067016, 309.02358744, 314.63455011,
       320.76865883, 340.96506042, 349.41921511, 363.9958426 ,
       336.48036861, 324.46687748, 338.2607428 , 329.06610432,
       322.03429499, 303.55709231, 316.18231698, 320.50708617,
       331.30700997, 347.4779849 , 355.9296404 , 374.54668637,
       342.44435645, 331.69280527, 348.63892281, 334.61578759,
       330.00587574, 313.59418921, 321.48039213, 329.20571285,
       340.86247105, 352.70376741, 365.28997206, 383.51689544,
       347.78139088, 341.60792015, 356.96362946, 340.23936599,
       340.335156  , 321.25990378, 327.54582653, 339.78488485,
       347.90264339, 359.33619775, 375.94258933, 390.00891583,
       355.0677938 , 352.15748942, 363.02290435, 348.22327038,
       350.61707622, 327.03145306, 336.2250509 , 349.65739449])

In [0]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [59]:
future_forecast.head()

            Prediction
Month
1965-01-01  164.597046
1965-02-01  167.748398
1965-03-01  176.355373
1965-04-01  156.773069
1965-05-01  165.991772

In [60]:
test.head()

            Beer Production
Month
1965-01-01            106.9
1965-02-01             96.6
1965-03-01            127.3
1965-04-01             98.2
1965-05-01            100.2

In [61]:
pd.concat([test,future_forecast],axis=1).iplot()

In [0]:
future_forecast2 = future_forecast

In [64]:
pd.concat([data,future_forecast2],axis=1).iplot()