# Tuple

A tuple is a one-dimensional, fixed-length, immutable sequence of Python objects. Immutable implies that its content cannot be modified. 

The easiest way to create a tuple is to provide a comma-separated sequence of values. In this example, a tuple is assigned a bunch of mixed comma separated data type values enclosed within parentheses. 

Letâ€™s view it by referencing the tuple object. To access the tuple element at index 1, use the syntax shown here. The index usually starts from 0. 

If you try to modify the value at a specified index, it throws an error since a tuple is immutable.

In [23]:
tup1 = ("physics", "chemistry", 1997, 2000)
print (tup1)

('physics', 'chemistry', 1997, 2000)

In [24]:
print (type(tup1))

<class 'tuple'>

In [2]:
tup1[2]

1997

In [3]:
# Update Tuple

tup1 = ("physics", "chemistry", 1997, 2000)

print ('Original Tuple = ', tup1)

tup1[2] = 'maths'

print ('Updated Tuple = ', tup1)

Original Tuple =  ('physics', 'chemistry', 1997, 2000)

TypeError: 'tuple' object does not support item assignment

In [4]:
# Delete an element of tuple

tup1 = ("physics", "chemistry", 1997, 2000)

print ('Orignal Tuple = ', tup1)

del tup1[2]

print ('Updated Tuple = ', tup1)

Orignal Tuple =  ('physics', 'chemistry', 1997, 2000)

TypeError: 'tuple' object doesn't support item deletion

We can use the index of an element to view and access it. To access elements with the help of positive indices, count from the left, starting with 0. 

You can also use negative indices by counting from the right, starting with -1. Negative indices are useful as they help you to easily refer to elements at the end of a long tuple.

Once you have seen how to access individual elements in a tuple. You can also access a range or slice of elements within a tuple. 

Slicing allows you to create a subset of the tuple. To slice a tuple, mention the indices of the first element and that of the element immediately after the last element. This is because while the first index is inclusive, the second one is not. 

For example, here we can see that referencing indices 1 to 4, creates a tuple subset containing the elements from index 1 to 3.

You can also use negative indices to slice tuples, as shown here.

In [5]:
tup1 = (3,4,5)
del tup1

In [6]:
print (tup1)

NameError: name 'tup1' is not defined

In [7]:
tup1 = ('abcd', 786, 2.23, 'john', 70.2)
tinytuple = (123, 'jane')

In [14]:
print (tup1[0])
print (tup1[1:3])
print (tup1[2:])
print (tup1[1:-1])
print (tinytuple * 2)
print (tup1 + tinytuple)

abcd
(786, 2.23)
(2.23, 'john', 70.2)
(786, 2.23, 'john')
(123, 'jane', 123, 'jane')
('abcd', 786, 2.23, 'john', 70.2, 123, 'jane')

# Lists

In contrast with tuples, the length of lists is variable and their contents can be modified. They can be defined using square brackets [ ]. 

Here, a list is defined using comma separated values of mixed data types. 

We can view the content of the list by just referring to the list object. 

You can use the append method to add a value to the list. Note that this value gets added to the end of the list. 

We can also remove any particular item by just referring to the element value. 

Use the pop method to simultaneously view and remove the value at a particular index. 

Similarly, use the insert method to insert a value at a particular index.

In [15]:
SimpleList = [10,20,30,40,50]
print ("List is = ", SimpleList)

List is =  [10, 20, 30, 40, 50]

In [16]:
FloatList = [10.0,20.0,30.0,40.0,50.0]
print ("List is = ", FloatList)

List is =  [10.0, 20.0, 30.0, 40.0, 50.0]

In [17]:
StringList = ["my", "python"]
print ("List is = ", StringList)

List is =  ['my', 'python']

In [20]:
CL = [100, 5.2, 'class']
print (CL)

[100, 5.2, 'class']

In [21]:
print (type(CL))

<class 'list'>

In [19]:
# Updating the list

list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)

print ("Orignal - Value at index 2 = ", list1[2])

list1[2] = 2001

print ("Updated - Value at index 2 = ", list1[2])
print (list1)

['physics', 'chemistry', 1997, 2000]
Orignal - Value at index 2 =  1997
Updated - Value at index 2 =  2001
['physics', 'chemistry', 2001, 2000]

In [21]:
# Deleting an element from the list

list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)

print ("Orignal - Value at index 2 = ", list1[2])

del (list1[2])

print ("Updated - Value at index 2 = ", list1[2])
print (list1)

['physics', 'chemistry', 1997, 2000]
Orignal - Value at index 2 =  1997
Updated - Value at index 2 =  2000
['physics', 'chemistry', 2000]

In [23]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1,2,3,4,5,6,7]

print (list1[0])
print (list2[1:5])
print (list2[0:5])

physics
[2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [24]:
# list append() -- Modify - adding a new value

aList = [123, 'xyz', 'zara', 'abc']

aList.append(2009)

print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [25]:
# list extend -- Add other list
aList = [123, 'xyz', 'zara', 'abc']
bList = [2009, 'mani']

aList.extend(bList)

print ("Extended List ", aList)

Extended List  [123, 'xyz', 'zara', 'abc', 2009, 'mani']

In [26]:
bList.extend(aList)

print ("Extended List ", bList)

Extended List  [2009, 'mani', 123, 'xyz', 'zara', 'abc', 2009, 'mani']

In [27]:
aList = [123, 'xyz', 'zara', 'abc']
bList = [2009, 'mani']

print (aList + bList)
print (bList + aList)

[123, 'xyz', 'zara', 'abc', 2009, 'mani']
[2009, 'mani', 123, 'xyz', 'zara', 'abc']

In [28]:
print (aList)
print (bList)

[123, 'xyz', 'zara', 'abc']
[2009, 'mani']

In [29]:
# Shows the index of an element

aList = [123, 'xyz', 'zara', 'abc']

print (aList.index('xyz'))
print (aList.index('zara'))

1
2

In [30]:
# Modify a list: Insert a new item at a certain index

aList = [123, 'xyz', 'zara', 'abc']

aList.insert(3,2009) # index and value
print (aList)

[123, 'xyz', 'zara', 2009, 'abc']

In [31]:
zList=[1, 2, 3, 123, 'ram', 1, 2, 3]
print(zList.index(1))

0

In [59]:
zList=[1, 2, 3, 123, 'ram', 1, 2, 3, 1]
print(zList.index(1,1))

5

In [32]:
# Remove - element 
aList = [123, 'xyz', 'zara', 'abc']

aList.remove('xyz')
print ('List = ', aList)

aList.remove('zara')
print ('List = ', aList)

List =  [123, 'zara', 'abc']
List =  [123, 'abc']

In [33]:
# pop = remove list element using indices
aList = [123, 'xyz', 'zara', 'abc']

print (aList.pop())  # Access and remove list data using element indices

print (aList.pop(2))
print (aList)

abc
zara
[123, 'xyz']

In [34]:
del aList # deleting the entire list

In [35]:
print (aList)

NameError: name 'aList' is not defined

Just like tuples, you can access elements in a list through indices. 

As you have learned earlier, positive indices are counted from the left, starting with 0. By providing the positive index, we can access the specified list element. 

Recall that negative indices are counted from the right, starting with -1. Since -2 refers to the second element from the right in the list, the value 5.2 is generated as the output.

In [36]:
print (CL)

[100, 5.2, 'class']

In [37]:
print (CL[0])
print (CL[1])
print (CL[2])

100
5.2
class

In [38]:
print (CL[-3])
print (CL[-2])
print (CL[-1])

100
5.2
class

In [39]:
first_list = [500, 'Smith', 5.2, 'John', 'class', 1000, 45.95]
print (first_list)

[500, 'Smith', 5.2, 'John', 'class', 1000, 45.95]

In [40]:
print (first_list[1:4])

['Smith', 5.2, 'John']

In [41]:
print (first_list[1:-2])

['Smith', 5.2, 'John', 'class']

In [42]:
A = [1, 2, 3 ,4 , [10,20,30,40]] # Nested List

how will i print 30?

how will i print [10,20,30,40]?

In [43]:
print (A[4])
print (A[-1])

[10, 20, 30, 40]
[10, 20, 30, 40]

In [44]:
print (A[4][2])
print (A[-1][2])

30
30

In [45]:
aList = [123, 'xyz', 'zara', 'abc']
print (aList)

aTuple = tuple(aList)
print (aTuple)

[123, 'xyz', 'zara', 'abc']
(123, 'xyz', 'zara', 'abc')

In [46]:
aTuple = (123, 'xyz', 'zara', 'abc')
print (aTuple)

aList = list(aTuple)
print (aList)

(123, 'xyz', 'zara', 'abc')
[123, 'xyz', 'zara', 'abc']

In [47]:
A = [1, 2, 3 ,4 , [10,20,30,40]] 
print (A)

aTuple = tuple(A)
print (aTuple)

[1, 2, 3, 4, [10, 20, 30, 40]]
(1, 2, 3, 4, [10, 20, 30, 40])

In [50]:
aTuple[4][2] = 50

print (aTuple)

(1, 2, 3, 4, [10, 20, 50, 40])

In [51]:
aTuple[4] = 50

print (aTuple)

TypeError: 'tuple' object does not support item assignment

# Dictionary

Dictionary is likely the most important built-in Python data structure. 

Dictionaries store a mapping between a set of keys and a set of values. Keys are variables, and they are listed together with the values assigned to them. This forms a key-value pair. The keys can be of any immutable type and the values can be of any type. A dictionary is a flexibly-sized collection of key-value pairs, where keys and values are Python objects.

You can create a dictionary using colons to separate keys and values enclosed within curly braces. 

In this example, the dictionary contains three key value pairs separated by colons and enclosed within curly braces. 

We can view the content of the dictionary or dict by referring to the dict object. 

Use the keys() method to view all the keys. 

Similarly, use the values() method to view all the values present in the dictionary.

In [1]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [2]:
print (dict1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [3]:
print (dict1.keys()) #View only keys

dict_keys(['Name', 'Age', 'Class'])

In [4]:
print (dict1.values()) #View only values

dict_values(['Zara', 7, 'First'])

In [5]:
# Access with keys

print (dict1['Name'])
print (dict1['Age'])

Zara
7

In [6]:
dict1.update({'Age': [7,8]})
print (dict1)

{'Name': 'Zara', 'Age': [7, 8], 'Class': 'First'}

In [7]:
dict1 = {['Name']:'Zara', 'Age':7 }
print (dict1)

TypeError: unhashable type: 'list'

In [8]:
print (dict1[1])

KeyError: 1

In [9]:
dict1 = {('Name'):'Zara', 'Age':7 }
print (dict1)

{'Name': 'Zara', 'Age': 7}

In [10]:
dict1 = {('Name1', 'Name2'):'Zara', 'Age':7 }
print (dict1)

{('Name1', 'Name2'): 'Zara', 'Age': 7}

In [11]:
dict1 = {1 :'Zara', 'Age':7 }
print (dict1)

{1: 'Zara', 'Age': 7}

In [12]:
# Updating the Dict

dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

dict1['Age'] = 8
dict1['School'] = 'DPS'

print ("Dict1['Age'] = ", dict1['Age'])
print ("Dict1['School'] = ", dict1['School'])
print (dict1)

Dict1['Age'] =  8
Dict1['School'] =  DPS
{'Name': 'Zara', 'Age': 8, 'Class': 'First', 'School': 'DPS'}

In [13]:
print (dict1)

dict1.update({'Age':9})
dict1.update({'School':'Vidhya'})

print (dict1)

{'Name': 'Zara', 'Age': 8, 'Class': 'First', 'School': 'DPS'}
{'Name': 'Zara', 'Age': 9, 'Class': 'First', 'School': 'Vidhya'}

In [14]:
# Delete Dictionary Elements

dict1 = {'Name':'Zara', 'Age': 7, 'Class': 'First'}
print (dict1)

del (dict1['Name'])
print (dict1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
{'Age': 7, 'Class': 'First'}

In [15]:
dict1.clear()
print (dict1)

{}

In [16]:
del (dict1)
print (dict1)

NameError: name 'dict1' is not defined

In [17]:
dict1 = {'Name':'Zara', 'Age': 7, 'Class': 'First'}
print (len(dict1))

3

In [18]:
print (dict1.items())

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])

In [19]:
print (type(dict1))

<class 'dict'>

In [25]:
dict1 = {'Name':'Zara', 'Age': 7, 'Class': 'First'}
print (dict1.values())

dict_values(['Zara', 7, 'First'])

In [27]:
print(type(dict1.values()[0]))

TypeError: 'dict_values' object does not support indexing

In [28]:
dict1 = {'Name':' ', 'Age': 7, 'Class': 'First'}
print (dict1.values())

dict_values([' ', 7, 'First'])

# Sets

SET IS A COLLECTION OF UNIQUE ELEMENTS

unique - no duplicate values

In [29]:
# defining a set

x = set()
print (x)
print (type(x))

set()
<class 'set'>

In [30]:
# to add a value to a set setname.add(value)

x.add(1)
print(x)

{1}

In [31]:
x.add(20)
print(x)

{1, 20}

In [32]:
x.add(200)
print(x)

{200, 1, 20}

In [33]:
x.add(200)
print(x)

{200, 1, 20}

In [34]:
# adding 200 again does not result in additional item. because set values have to be unique
x.add(5000)
print(x)

{200, 1, 20, 5000}

In [35]:
x.add(10000)
print(x)
#### no sort happens

{1, 200, 5000, 10000, 20}

In [38]:
print(x)

{1, 200, 5000, 10000, 20}

In [39]:
### set and list - add multiple elements to a set

mylist100 =  [1,2,3,5,20,200,100,188,199,199]

### create a set out of a list
set(mylist100)

### note that the duplicates (199) is removed

{1, 2, 3, 5, 20, 100, 188, 199, 200}

In [45]:
### set and list - add multiple elements to a set --- note duplicates (100,200) are removed
mylist101 =  [100,200,3,5,20,200,100,188,199,'x','2x']

set(mylist101)

{100, 188, 199, 20, 200, '2x', 3, 5, 'x'}

In [46]:
### set and list - add multiple elements to a set --- note duplicates (100,200) are removed
mylist102 =  [100,200,3,5,20,200,100,188,199,'x','2x','2X','2x',199,1999]
### create a set out of a list
set(mylist102)

{100, 188, 199, 1999, 20, 200, '2X', '2x', 3, 5, 'x'}

In [47]:
x = set(mylist102)
print (x)

{3, 100, 5, 199, 200, '2x', '2X', 1999, 20, 'x', 188}

In [48]:
x[0]

TypeError: 'set' object does not support indexing

#### Indexing in Sets 
- You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
- But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [50]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("mango" in thisset)

True
False

#### Change Items

- Once a set is created, you cannot change its items, but you can add new items.

In [52]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'grapes', 'mango', 'apple', 'cherry', 'banana'}

#### Get the Length of a Set

- To determine how many items a set has, use the len() method.

In [53]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#### Remove Item

- To remove an item in a set, use the remove(), or the discard() method.

In [54]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [55]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [56]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("mango")

print(thisset)

KeyError: 'mango'

In [57]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("mango")

print(thisset)

{'banana', 'apple', 'cherry'}

- Note: If the item to remove does not exist, discard() will NOT raise an error.

#### pop() in sets

- We can also use the pop(), method to remove an item, but this method will remove the last item. 
- Remember that sets are unordered, so you will not know what item that gets removed.
- The return value of the pop() method is the removed item.

In [65]:
thisset = {"cherry", "banana", "apple", "pear", "kiwi", "mango"}

x = thisset.pop()

print(x)

print(thisset)

kiwi
{'pear', 'apple', 'cherry', 'mango', 'banana'}

In [66]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [67]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [68]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [69]:
list2 = list(thisset)
print (list2)

['banana', 'apple', 'cherry']

In [77]:
mytuple101 = (100,200,3,5,20,200,100,188,199,'x','2x','x','2x')

set(mytuple101)

{100, 188, 199, 20, 200, '2x', 3, 5, 'x'}

In [71]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

set(dict1)

{'Age', 'Class', 'Name'}

## Set Intersection and Union

In [73]:
auto_survey = set(['chevy','bmw','suzuki','ford','toyota','honda','bmw'])
print(auto_survey)
print(len(auto_survey))

{'bmw', 'suzuki', 'toyota', 'chevy', 'honda', 'ford'}
6

In [74]:
auto_survey1 = set(['100','chevy','suzuki','hyundai','kia','holden','scion','lambhorgini','konigsegg','nissangt'])
print(auto_survey1)
print(len(auto_survey1))

{'scion', 'holden', 'hyundai', 'konigsegg', 'nissangt', 'kia', 'suzuki', '100', 'lambhorgini', 'chevy'}
10

In [75]:
#### set union combines the elements of 2 sets and removes duplicates - set union is represented by pipe symbol 

setunion = auto_survey | auto_survey1
print(setunion)

{'scion', 'holden', 'hyundai', 'konigsegg', 'kia', 'lambhorgini', 'honda', 'bmw', 'nissangt', 'suzuki', 'toyota', '100', 'chevy', 'ford'}

In [76]:
### set intersection - picks up the common elements between 2 sets

setintersect = auto_survey & auto_survey1
print(setintersect)

{'chevy', 'suzuki'}

In [78]:
auto_survey + auto_survey1

TypeError: unsupported operand type(s) for +: 'set' and 'set'