<a href="https://colab.research.google.com/github/SamuelVinay91/MachineLearning/blob/master/List%2C_Tuples_and_Dictionary_InSession_20072019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

A tuple is a one-dimensional, fixed-length, immutable sequence of Python objects. Immutable implies that its content cannot be modified. 

The easiest way to create a tuple is to provide a comma-separated sequence of values. In this example, a tuple is assigned a bunch of mixed comma separated data type values enclosed within parentheses. 

Letâ€™s view it by referencing the tuple object. To access the tuple element at index 1, use the syntax shown here. The index usually starts from 0. 

If you try to modify the value at a specified index, it throws an error since a tuple is immutable.

In [0]:
tup1 = ("physics", "chemistry", 1997, 2000)
print (tup1)

('physics', 'chemistry', 1997, 2000)

In [0]:
tup1[2]

1997

In [0]:
# Update Tuple

tup1 = ("physics", "chemistry", 1997, 2000)

print ('Original Tuple = ', tup1)

tup1[2] = 'maths'

print ('Updated Tuple = ', tup1)

Original Tuple =  ('physics', 'chemistry', 1997, 2000)

TypeError: 'tuple' object does not support item assignment

In [0]:
# Delete an element of tuple

tup1 = ("physics", "chemistry", 1997, 2000)

print ('Orignal Tuple = ', tup1)

del tup1[2]

print ('Updated Tuple = ', tup1)

Orignal Tuple =  ('physics', 'chemistry', 1997, 2000)

TypeError: 'tuple' object doesn't support item deletion

We can use the index of an element to view and access it. To access elements with the help of positive indices, count from the left, starting with 0. 

You can also use negative indices by counting from the right, starting with -1. Negative indices are useful as they help you to easily refer to elements at the end of a long tuple.

Once you have seen how to access individual elements in a tuple. You can also access a range or slice of elements within a tuple. 

Slicing allows you to create a subset of the tuple. To slice a tuple, mention the indices of the first element and that of the element immediately after the last element. This is because while the first index is inclusive, the second one is not. 

For example, here we can see that referencing indices 1 to 4, creates a tuple subset containing the elements from index 1 to 3.

You can also use negative indices to slice tuples, as shown here.

In [0]:
tup1 = (3,4,5)
del tup1

In [0]:
print (tup1)

NameError: name 'tup1' is not defined

In [0]:
tup1 = ('abcd', 786, 2.23, 'john', 70.2)
tinytuple = (123, 'jane')

In [0]:
print (tup1[0])
print (tup1[1:3])
print (tup1[2:])
print (tup1[1:-1])
print (tinytuple * 2)
print (tup1 + tinytuple)

abcd
(786, 2.23)
(2.23, 'john', 70.2)
(786, 2.23, 'john')
(123, 'jane', 123, 'jane')
('abcd', 786, 2.23, 'john', 70.2, 123, 'jane')

# Lists

In contrast with tuples, the length of lists is variable and their contents can be modified. They can be defined using square brackets [ ]. 

Here, a list is defined using comma separated values of mixed data types. 

We can view the content of the list by just referring to the list object. 

You can use the append method to add a value to the list. Note that this value gets added to the end of the list. 

We can also remove any particular item by just referring to the element value. 

Use the pop method to simultaneously view and remove the value at a particular index. 

Similarly, use the insert method to insert a value at a particular index.

In [0]:
SimpleList = [10,20,30,40,50]
print ("List is = ", SimpleList)

List is =  [10, 20, 30, 40, 50]

In [0]:
FloatList = [10.0,20.0,30.0,40.0,50.0]
print ("List is = ", FloatList)

List is =  [10.0, 20.0, 30.0, 40.0, 50.0]

In [0]:
StringList = ["my", "python"]
print ("List is = ", StringList)

List is =  ['my', 'python']

In [0]:
CL = [100, 5.2, 'class']
print (CL)

[100, 5.2, 'class']

In [0]:
# Updating the list

list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)

print ("Orignal - Value at index 2 = ", list1[2])

list1[2] = 2001

print ("Updated - Value at index 2 = ", list1[2])
print (list1)

['physics', 'chemistry', 1997, 2000]
Orignal - Value at index 2 =  1997
Updated - Value at index 2 =  2001
['physics', 'chemistry', 2001, 2000]

In [0]:
# Deleting an element from the list

list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)

print ("Orignal - Value at index 2 = ", list1[2])

del (list1[2])

print ("Updated - Value at index 2 = ", list1[2])
print (list1)

['physics', 'chemistry', 1997, 2000]
Orignal - Value at index 2 =  1997
Updated - Value at index 2 =  2000
['physics', 'chemistry', 2000]

In [0]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1,2,3,4,5,6,7]

print (list1[0])
print (list2[1:5])
print (list2[0:5])

physics
[2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [0]:
# list append() -- Modify - adding a new value

aList = [123, 'xyz', 'zara', 'abc']

aList.append(2009)

print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [0]:
# list extend -- Add other list
aList = [123, 'xyz', 'zara', 'abc']
bList = [2009, 'mani']

aList.extend(bList)

print ("Extended List ", aList)

Extended List  [123, 'xyz', 'zara', 'abc', 2009, 'mani']

In [0]:
bList.extend(aList)

print ("Extended List ", bList)

Extended List  [2009, 'mani', 123, 'xyz', 'zara', 'abc', 2009, 'mani']

In [0]:
aList = [123, 'xyz', 'zara', 'abc']
bList = [2009, 'mani']

print (aList + bList)
print (bList + aList)

[123, 'xyz', 'zara', 'abc', 2009, 'mani']
[2009, 'mani', 123, 'xyz', 'zara', 'abc']

In [0]:
print (aList)
print (bList)

[123, 'xyz', 'zara', 'abc']
[2009, 'mani']

In [0]:
# Shows the index of an element

aList = [123, 'xyz', 'zara', 'abc']

print (aList.index('xyz'))
print (aList.index('zara'))

1
2

In [0]:
# Modify a list: Insert a new item at a certain index

aList = [123, 'xyz', 'zara', 'abc']

aList.insert(3,2009) # index and value
print (aList)

[123, 'xyz', 'zara', 2009, 'abc']

In [0]:
zList=[1, 2, 3, 123, 'ram', 1, 2, 3]
print(zList.index(1))

0

In [0]:
zList=[1, 2, 3, 123, 'ram', 1, 2, 3, 1]
print(zList.index(1,1))

5

In [0]:
# Remove - element 
aList = [123, 'xyz', 'zara', 'abc']

aList.remove('xyz')
print ('List = ', aList)

aList.remove('zara')
print ('List = ', aList)

List =  [123, 'zara', 'abc']
List =  [123, 'abc']

In [0]:
# pop = remove list element using indices
aList = [123, 'xyz', 'zara', 'abc']

print (aList.pop())  # Access and remove list data using element indices

print (aList.pop(2))
print (aList)

abc
zara
[123, 'xyz']

In [0]:
del aList # deleting the entire list

In [0]:
print (aList)

NameError: name 'aList' is not defined

Just like tuples, you can access elements in a list through indices. 

As you have learned earlier, positive indices are counted from the left, starting with 0. By providing the positive index, we can access the specified list element. 

Recall that negative indices are counted from the right, starting with -1. Since -2 refers to the second element from the right in the list, the value 5.2 is generated as the output.

In [0]:
print (CL)

[100, 5.2, 'class']

In [0]:
print (CL[0])
print (CL[1])
print (CL[2])

100
5.2
class

In [0]:
print (CL[-3])
print (CL[-2])
print (CL[-1])

100
5.2
class

In [0]:
first_list = [500, 'Smith', 5.2, 'John', 'class', 1000, 45.95]
print (first_list)

[500, 'Smith', 5.2, 'John', 'class', 1000, 45.95]

In [0]:
print (first_list[1:4])

['Smith', 5.2, 'John']

In [0]:
print (first_list[1:-2])

['Smith', 5.2, 'John', 'class']

In [0]:
A = [1, 2, 3 ,4 , [10,20,30,40]]

how will i print 30?

how will i print [10,20,30,40]?

In [0]:
print (A[4])
print (A[-1])

[10, 20, 30, 40]
[10, 20, 30, 40]

In [0]:
print (A[4][2])
print (A[-1][2])

30
30

In [0]:
aList = [123, 'xyz', 'zara', 'abc']
print (aList)

aTuple = tuple(aList)
print (aTuple)

[123, 'xyz', 'zara', 'abc']
(123, 'xyz', 'zara', 'abc')

In [0]:
aTuple = (123, 'xyz', 'zara', 'abc')
print (aTuple)

aList = list(aTuple)
print (aList)

(123, 'xyz', 'zara', 'abc')
[123, 'xyz', 'zara', 'abc']

In [0]:
A = [1, 2, 3 ,4 , [10,20,30,40]] 
print (A)

aTuple = tuple(A)
print (aTuple)

[1, 2, 3, 4, [10, 20, 30, 40]]
(1, 2, 3, 4, [10, 20, 30, 40])

In [0]:
aTuple[4][2] = 50

print (aTuple)

(1, 2, 3, 4, [10, 20, 50, 40])

In [0]:
aTuple[4] = 50

print (aTuple)

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [0]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [0]:
print (dict1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [0]:
print (dict1.keys()) #View only keys

dict_keys(['Name', 'Age', 'Class'])

In [0]:
print (dict1.values()) #View only values

dict_values(['Zara', 7, 'First'])

In [0]:
# Access with keys

print (dict1['Name'])
print (dict1['Age'])

Zara
7

In [0]:
dict1.update({'Age': [7,8]})
print (dict1)

{'Name': 'Zara', 'Age': [7, 8], 'Class': 'First'}

In [0]:
dict1 = {['Name']:'Zara', 'Age':7 }
print (dict1)

TypeError: unhashable type: 'list'

In [0]:
print (dict1[1])

KeyError: 1

In [0]:
dict1 = {('Name'):'Zara', 'Age':7 }
print (dict1)

{'Name': 'Zara', 'Age': 7}

In [0]:
dict1 = {('Name1', 'Name2'):'Zara', 'Age':7 }
print (dict1)

{('Name1', 'Name2'): 'Zara', 'Age': 7}

In [0]:
dict1 = {1 :'Zara', 'Age':7 }
print (dict1)

{1: 'Zara', 'Age': 7}