In [1]:
import pandas as pd

# File Read and Write Support

In [2]:
data = pd.read_csv('C:\Users\DELL 1\Documents\Python\Data_Science_with_Python\Codes 2\Libraries\hills.txt', sep = '\t')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-2-aa11365fff9b>, line 1)

In [13]:
data = pd.read_csv(r'C:\Users\DELL 1\Documents\Python\Data_Science_with_Python\Codes 2\Libraries\hills.txt', sep = '\t')

# r with one back slash and '\t' - tab sep, when you have space " "

In [14]:
data.head() #top 5 rows

          Race        Distance  Climb    Time
0  Greenmantle             2.5    650  16.083
1     Carnethy             6.0   2500  48.350
2  CraigDunain             6.0    900  33.650
3       BenRha             7.5    800  45.600
4    BenLomond             8.0   3070  62.267

In [15]:
data = pd.read_csv('C:\\Users\\DELL 1\\Documents\\Python\\Data_Science_with_Python\\Codes 2\\Libraries\\hills.txt', sep = '\t')

In [20]:
data.head(10)
data[10:20]

          Race        Distance  Climb     Time
10  LairigGhru            28.0   2100  192.667
11      Dollar             5.0   2000   43.050
12     Lomonds             9.5   2200   65.000
13  CairnTable             6.0    500   44.133
14   EildonTwo             4.5   1500   26.933
15   Cairngorm            10.0   3000   72.250
16  SevenHills            14.0   2200   98.417
17   KnockHill             3.0    350   78.650
18   BlackHill             4.5   1000   17.417
19   CreagBeag             5.5    600   32.567

In [21]:
pwd() # present wroking directory

'C:\\Users\\DELL 1\\Documents\\Python\\Data_Science_with_Python\\Codes 2\\Libraries'

In [3]:
data = pd.read_csv('hills.txt')
data.head()

# if the data file and the jupyter notebook is in the same folder

  Race\t      Distance\tClimb\tTime
0     Greenmantle\t2.5\t650\t16.083
1          Carnethy\t6\t2500\t48.35
2        CraigDunain\t6\t900\t33.65
3            BenRha\t7.5\t800\t45.6
4        BenLomond\t8\t3070\t62.267

In [4]:
data1 = pd.read_csv('hills.txt', sep = '\t')
data1.head()

          Race        Distance  Climb    Time
0  Greenmantle             2.5    650  16.083
1     Carnethy             6.0   2500  48.350
2  CraigDunain             6.0    900  33.650
3       BenRha             7.5    800  45.600
4    BenLomond             8.0   3070  62.267

In [5]:
data = pd.read_csv('winequality.csv')
data.head()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2.0
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2.0
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2.0
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2.0
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2.0

In [22]:
data = pd.read_excel('winequality.xlsx')
data.head()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2.0
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2.0
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2.0
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2.0
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2.0

In [23]:
data[10:20]

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
10,W0011,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.9908,2.99,0.56,12.0,1.0
11,W0012,8.6,0.23,0.40,4.20,0.035,17.0,109.0,0.9947,NaN,0.53,9.7,1.0
12,W0013,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.9920,3.18,0.63,10.8,1.0
13,W0014,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.9912,NaN,0.52,12.4,2.0
14,W0015,8.3,0.42,0.62,19.25,0.040,41.0,172.0,1.0002,2.98,0.67,9.7,1.0
15,W0016,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.9914,3.25,0.55,11.4,2.0
16,W0017,6.3,0.48,0.04,1.10,0.046,30.0,99.0,0.9928,3.24,0.36,9.6,2.0
17,W0018,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,2.0
18,W0019,7.4,0.34,0.42,1.10,0.033,17.0,171.0,0.9917,3.12,0.53,11.3,2.0
19,W0020,6.5,0.31,0.14,7.50,0.044,34.0,133.0,0.9955,3.22,0.50,9.5,1.0

In [7]:
data1.to_csv('hills_clean.txt') # create the file in the working directory

In [8]:
data.to_csv('winequality_clean.csv') # create the file in the working directory

In [9]:
data = pd.read_csv('winequality_clean.csv')
data.head()

,Unnamed: 0,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2.0
1,1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2.0
2,2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2.0
3,3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2.0
4,4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2.0

In [10]:
data.drop("Unnamed: 0") # deflaut axis = 0;

KeyError: "['Unnamed: 0'] not found in axis"

In [11]:
data.drop("Unnamed: 0", axis = 1)

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,2.0
1,W0002,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,NaN,9.5,2.0
2,W0003,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,NaN,10.1,2.0
3,W0004,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,2.0
4,W0005,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,2.0
5,W0006,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,2.0
6,W0007,6.2,0.32,NaN,7.00,0.045,30.0,136.0,0.99490,NaN,0.47,9.6,2.0
7,W0008,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,2.0
8,W0009,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,NaN,9.5,2.0
9,W0010,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.99380,3.22,0.45,11.0,2.0
10,W0011,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.99080,2.99,0.56,12.0,1.0
11,W0012,8.6,0.23,0.40,4.20,0.035,17.0,109.0,0.99470,NaN,0.53,9.7,1.0
12,W0013,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.99200,3.18,0.63,10.8,1.0
13,W0014,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.99120,NaN,0.52,12.4,2.0
14,W0015,8.3,0.42,0.62,19.25,0.040,41.0,172.0,1.00020,2.98,0.67,9.7,1.0
15,W0016,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.99140,3.25,0.55,11.4,2.0
16,W0017,6.3,0.48,0.04,1.10,0.046,30.0,99.0,0.99280,3.24,0.36,9.6,2.0
17,W0018,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,2.0
18,W0019,7.4,0.34,0.42,1.10,0.033,17.0,171.0,0.99170,3.12,0.53,11.3,2.0
19,W0020,6.5,0.31,0.14,7.50,0.044,34.0,133.0,0.99550,3.22,0.50,9.5,1.0
20,W0021,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,2.0
21,W0022,6.4,0.31,0.38,2.90,0.038,19.0,102.0,0.99120,NaN,0.35,11.0,2.0
22,W0023,6.8,0.26,0.42,1.70,0.049,41.0,122.0,0.99300,3.47,0.48,10.5,2.0
23,W0024,7.6,0.67,0.14,1.50,0.074,25.0,168.0,0.99370,3.05,NaN,9.3,1.0
24,W0025,6.6,0.27,NaN,1.30,0.052,16.0,142.0,0.99510,3.42,0.47,10.0,2.0
25,W0026,7.0,0.25,0.32,9.00,0.046,56.0,245.0,0.99550,3.25,0.50,10.4,2.0
26,W0027,6.9,0.24,0.35,1.00,0.052,35.0,146.0,0.99300,3.45,0.44,10.0,2.0
27,W0028,7.0,0.28,0.39,8.70,0.051,32.0,141.0,0.99610,NaN,0.53,10.5,2.0
28,W0029,7.4,0.27,0.48,1.10,0.047,17.0,132.0,0.99140,3.19,0.49,11.6,2.0
29,W0030,7.2,0.32,NaN,2.00,0.033,37.0,114.0,0.99060,3.10,0.71,12.3,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274,W2275,7.3,0.19,0.25,1.40,0.051,41.0,107.0,0.99382,3.53,0.66,10.5,2.0
2275,W2276,7.5,0.29,NaN,14.95,0.067,47.0,178.0,0.99838,NaN,0.49,9.2,1.0
2276,W2277,6.7,0.31,0.18,7.70,0.043,57.0,200.0,0.99566,3.17,0.44,9.4,2.0
2277,W2278,7.4,0.14,0.30,1.30,0.033,25.0,91.0,0.99268,3.53,0.39,10.6,2.0
2278,W2279,6.7,0.31,NaN,7.70,0.043,57.0,200.0,0.99566,NaN,0.44,9.4,2.0
2279,W2280,7.1,0.40,0.52,1.30,0.148,45.0,149.0,0.99468,3.08,NaN,8.7,1.0
2280,W2281,6.4,0.16,0.25,1.30,0.047,20.0,77.0,0.99330,NaN,NaN,10.2,2.0
2281,W2282,6.3,0.16,0.22,1.30,0.046,18.0,66.0,0.99307,3.61,0.55,10.3,2.0
2282,W2283,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,NaN,9.5,1.0
2283,W2284,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2284,W2285,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2285,W2286,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2286,W2287,6.6,0.41,NaN,4.90,0.158,47.0,144.0,0.99471,NaN,0.49,9.4,1.0
2287,W2288,6.7,0.43,0.23,5.00,0.157,49.0,145.0,0.99471,NaN,0.49,9.4,1.0
2288,W2289,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2289,W2290,7.3,0.40,0.28,6.50,0.037,26.0,97.0,0.99148,3.16,0.58,12.6,2.0
2290,W2291,7.4,0.18,0.24,1.40,0.047,21.0,106.0,0.99383,3.52,0.64,10.5,2.0
2291,W2292,8.6,0.17,NaN,2.70,0.047,38.0,150.0,0.99365,NaN,0.56,10.8,2.0
2292,W2293,6.5,0.32,0.23,1.20,0.054,39.0,208.0,0.99272,3.18,0.46,9.9,2.0
2293,W2294,7.3,0.40,0.28,6.50,0.037,26.0,97.0,0.99148,3.16,0.58,12.6,2.0
2294,W2295,7.0,0.32,0.31,6.40,0.031,38.0,115.0,0.99235,3.38,NaN,12.2,2.0
2295,W2296,7.5,0.42,0.19,6.90,0.041,62.0,150.0,0.99508,3.23,NaN,10.0,2.0
2296,W2297,6.9,0.28,0.31,7.20,0.040,47.0,168.0,0.99460,3.29,0.57,10.6,2.0
2297,W2298,6.5,0.29,0.42,10.60,0.042,66.0,202.0,0.99674,3.24,0.53,9.5,2.0
2298,W2299,6.3,0.41,0.18,3.50,0.027,23.0,109.0,0.99018,3.34,0.54,12.8,2.0
2299,W2300,7.0,0.32,0.31,6.40,0.031,38.0,115.0,0.99235,3.38,0.58,12.2,2.0
2300,W2301,7.3,0.30,NaN,2.30,0.043,28.0,125.0,0.99084,NaN,0.44,12.6,2.0
2301,W2302,6.6,0.22,0.28,12.05,0.058,25.0,125.0,0.99856,3.45,0.45,9.4,1.0
2302,W2303,6.0,0.26,0.18,7.00,0.055,50.0,194.0,0.99591,3.21,0.43,9.0,1.0
2303,W2304,6.9,0.44,0.18,11.80,0.051,26.0,126.0,0.99750,3.23,0.00,NaN,NaN

In [12]:
data.drop(data.index[0:5], axis = 0)

,Unnamed: 0,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
5,5,W0006,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,2.0
6,6,W0007,6.2,0.32,NaN,7.00,0.045,30.0,136.0,0.99490,NaN,0.47,9.6,2.0
7,7,W0008,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,2.0
8,8,W0009,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,NaN,9.5,2.0
9,9,W0010,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.99380,3.22,0.45,11.0,2.0
10,10,W0011,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.99080,2.99,0.56,12.0,1.0
11,11,W0012,8.6,0.23,0.40,4.20,0.035,17.0,109.0,0.99470,NaN,0.53,9.7,1.0
12,12,W0013,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.99200,3.18,0.63,10.8,1.0
13,13,W0014,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.99120,NaN,0.52,12.4,2.0
14,14,W0015,8.3,0.42,0.62,19.25,0.040,41.0,172.0,1.00020,2.98,0.67,9.7,1.0
15,15,W0016,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.99140,3.25,0.55,11.4,2.0
16,16,W0017,6.3,0.48,0.04,1.10,0.046,30.0,99.0,0.99280,3.24,0.36,9.6,2.0
17,17,W0018,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,2.0
18,18,W0019,7.4,0.34,0.42,1.10,0.033,17.0,171.0,0.99170,3.12,0.53,11.3,2.0
19,19,W0020,6.5,0.31,0.14,7.50,0.044,34.0,133.0,0.99550,3.22,0.50,9.5,1.0
20,20,W0021,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,2.0
21,21,W0022,6.4,0.31,0.38,2.90,0.038,19.0,102.0,0.99120,NaN,0.35,11.0,2.0
22,22,W0023,6.8,0.26,0.42,1.70,0.049,41.0,122.0,0.99300,3.47,0.48,10.5,2.0
23,23,W0024,7.6,0.67,0.14,1.50,0.074,25.0,168.0,0.99370,3.05,NaN,9.3,1.0
24,24,W0025,6.6,0.27,NaN,1.30,0.052,16.0,142.0,0.99510,3.42,0.47,10.0,2.0
25,25,W0026,7.0,0.25,0.32,9.00,0.046,56.0,245.0,0.99550,3.25,0.50,10.4,2.0
26,26,W0027,6.9,0.24,0.35,1.00,0.052,35.0,146.0,0.99300,3.45,0.44,10.0,2.0
27,27,W0028,7.0,0.28,0.39,8.70,0.051,32.0,141.0,0.99610,NaN,0.53,10.5,2.0
28,28,W0029,7.4,0.27,0.48,1.10,0.047,17.0,132.0,0.99140,3.19,0.49,11.6,2.0
29,29,W0030,7.2,0.32,NaN,2.00,0.033,37.0,114.0,0.99060,3.10,0.71,12.3,2.0
30,30,W0031,8.5,0.24,0.39,10.40,0.044,20.0,142.0,0.99740,3.20,0.53,10.0,2.0
31,31,W0032,8.3,0.14,0.34,1.10,0.042,7.0,47.0,0.99340,3.47,0.40,10.2,2.0
32,32,W0033,7.4,0.25,0.36,2.05,0.050,31.0,100.0,0.99200,3.19,0.44,10.8,2.0
33,33,W0034,6.2,0.12,NaN,1.50,0.045,43.0,117.0,0.99390,NaN,0.51,9.0,2.0
34,34,W0035,5.8,0.27,0.20,14.95,0.044,22.0,179.0,0.99620,3.37,NaN,10.2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274,2274,W2275,7.3,0.19,0.25,1.40,0.051,41.0,107.0,0.99382,3.53,0.66,10.5,2.0
2275,2275,W2276,7.5,0.29,NaN,14.95,0.067,47.0,178.0,0.99838,NaN,0.49,9.2,1.0
2276,2276,W2277,6.7,0.31,0.18,7.70,0.043,57.0,200.0,0.99566,3.17,0.44,9.4,2.0
2277,2277,W2278,7.4,0.14,0.30,1.30,0.033,25.0,91.0,0.99268,3.53,0.39,10.6,2.0
2278,2278,W2279,6.7,0.31,NaN,7.70,0.043,57.0,200.0,0.99566,NaN,0.44,9.4,2.0
2279,2279,W2280,7.1,0.40,0.52,1.30,0.148,45.0,149.0,0.99468,3.08,NaN,8.7,1.0
2280,2280,W2281,6.4,0.16,0.25,1.30,0.047,20.0,77.0,0.99330,NaN,NaN,10.2,2.0
2281,2281,W2282,6.3,0.16,0.22,1.30,0.046,18.0,66.0,0.99307,3.61,0.55,10.3,2.0
2282,2282,W2283,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,NaN,9.5,1.0
2283,2283,W2284,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2284,2284,W2285,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2285,2285,W2286,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2286,2286,W2287,6.6,0.41,NaN,4.90,0.158,47.0,144.0,0.99471,NaN,0.49,9.4,1.0
2287,2287,W2288,6.7,0.43,0.23,5.00,0.157,49.0,145.0,0.99471,NaN,0.49,9.4,1.0
2288,2288,W2289,7.4,0.33,0.26,15.60,0.049,67.0,210.0,0.99907,3.06,0.68,9.5,1.0
2289,2289,W2290,7.3,0.40,0.28,6.50,0.037,26.0,97.0,0.99148,3.16,0.58,12.6,2.0
2290,2290,W2291,7.4,0.18,0.24,1.40,0.047,21.0,106.0,0.99383,3.52,0.64,10.5,2.0
2291,2291,W2292,8.6,0.17,NaN,2.70,0.047,38.0,150.0,0.99365,NaN,0.56,10.8,2.0
2292,2292,W2293,6.5,0.32,0.23,1.20,0.054,39.0,208.0,0.99272,3.18,0.46,9.9,2.0
2293,2293,W2294,7.3,0.40,0.28,6.50,0.037,26.0,97.0,0.99148,3.16,0.58,12.6,2.0
2294,2294,W2295,7.0,0.32,0.31,6.40,0.031,38.0,115.0,0.99235,3.38,NaN,12.2,2.0
2295,2295,W2296,7.5,0.42,0.19,6.90,0.041,62.0,150.0,0.99508,3.23,NaN,10.0,2.0
2296,2296,W2297,6.9,0.28,0.31,7.20,0.040,47.0,168.0,0.99460,3.29,0.57,10.6,2.0
2297,2297,W2298,6.5,0.29,0.42,10.60,0.042,66.0,202.0,0.99674,3.24,0.53,9.5,2.0
2298,2298,W2299,6.3,0.41,0.18,3.50,0.027,23.0,109.0,0.99018,3.34,0.54,12.8,2.0
2299,2299,W2300,7.0,0.32,0.31,6.40,0.031,38.0,115.0,0.99235,3.38,0.58,12.2,2.0
2300,2300,W2301,7.3,0.30,NaN,2.30,0.043,28.0,125.0,0.99084,NaN,0.44,12.6,2.0
2301,2301,W2302,6.6,0.22,0.28,12.05,0.058,25.0,125.0,0.99856,3.45,0.45,9.4,1.0
2302,2302,W2303,6.0,0.26,0.18,7.00,0.055,50.0,194.0,0.99591,3.21,0.43,9.0,1.0
2303,2303,W2304,6.9,0.44,0.18,11.80,0.051,26.0,126.0,0.99750,3.23,0.00,NaN,NaN

In [25]:
df = pd.read_csv('BostonHousing.csv') # if the data file and the jupyter notebook is in the same folder then there is no need to give the path
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:  

    :Number of Instances: 506 

    :Number of Attributes: 13 numeric/categorical predictive
    
    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.   
     
**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [26]:
pwd()

'C:\\Users\\DELL 1\\Documents\\Python\\Data_Science_with_Python\\Codes 2\\Libraries'

In [27]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [28]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [29]:
df.shape # gives number of rows and number of columns

(506, 14)

### Type of Dataset

In [30]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [31]:
df.CHAS.dtype

dtype('int64')

In [32]:
df.AGE.dtype

dtype('float64')

### Slicing

In [33]:
df[10:20, 1:3]

TypeError: unhashable type: 'slice'

In [34]:
df.iloc[10:20, 1:3]

      ZN  INDUS
10  12.5   7.87
11  12.5   7.87
12  12.5   7.87
13   0.0   8.14
14   0.0   8.14
15   0.0   8.14
16   0.0   8.14
17   0.0   8.14
18   0.0   8.14
19   0.0   8.14

### Indentifying Unique Elements

In [35]:
df.CRIM.unique()

array([6.32000e-03, 2.73100e-02, 2.72900e-02, 3.23700e-02, 6.90500e-02,
       2.98500e-02, 8.82900e-02, 1.44550e-01, 2.11240e-01, 1.70040e-01,
       2.24890e-01, 1.17470e-01, 9.37800e-02, 6.29760e-01, 6.37960e-01,
       6.27390e-01, 1.05393e+00, 7.84200e-01, 8.02710e-01, 7.25800e-01,
       1.25179e+00, 8.52040e-01, 1.23247e+00, 9.88430e-01, 7.50260e-01,
       8.40540e-01, 6.71910e-01, 9.55770e-01, 7.72990e-01, 1.00245e+00,
       1.13081e+00, 1.35472e+00, 1.38799e+00, 1.15172e+00, 1.61282e+00,
       6.41700e-02, 9.74400e-02, 8.01400e-02, 1.75050e-01, 2.76300e-02,
       3.35900e-02, 1.27440e-01, 1.41500e-01, 1.59360e-01, 1.22690e-01,
       1.71420e-01, 1.88360e-01, 2.29270e-01, 2.53870e-01, 2.19770e-01,
       8.87300e-02, 4.33700e-02, 5.36000e-02, 4.98100e-02, 1.36000e-02,
       1.31100e-02, 2.05500e-02, 1.43200e-02, 1.54450e-01, 1.03280e-01,
       1.49320e-01, 1.71710e-01, 1.10270e-01, 1.26500e-01, 1.95100e-02,
       3.58400e-02, 4.37900e-02, 5.78900e-02, 1.35540e-01, 1.28160e-01,
       8.82600e-02, 1.58760e-01, 9.16400e-02, 1.95390e-01, 7.89600e-02,
       9.51200e-02, 1.01530e-01, 8.70700e-02, 5.64600e-02, 8.38700e-02,
       4.11300e-02, 4.46200e-02, 3.65900e-02, 3.55100e-02, 5.05900e-02,
       5.73500e-02, 5.18800e-02, 7.15100e-02, 5.66000e-02, 5.30200e-02,
       4.68400e-02, 3.93200e-02, 4.20300e-02, 2.87500e-02, 4.29400e-02,
       1.22040e-01, 1.15040e-01, 1.20830e-01, 8.18700e-02, 6.86000e-02,
       1.48660e-01, 1.14320e-01, 2.28760e-01, 2.11610e-01, 1.39600e-01,
       1.32620e-01, 1.71200e-01, 1.31170e-01, 1.28020e-01, 2.63630e-01,
       1.07930e-01, 1.00840e-01, 1.23290e-01, 2.22120e-01, 1.42310e-01,
       1.71340e-01, 1.31580e-01, 1.50980e-01, 1.30580e-01, 1.44760e-01,
       6.89900e-02, 7.16500e-02, 9.29900e-02, 1.50380e-01, 9.84900e-02,
       1.69020e-01, 3.87350e-01, 2.59150e-01, 3.25430e-01, 8.81250e-01,
       3.40060e-01, 1.19294e+00, 5.90050e-01, 3.29820e-01, 9.76170e-01,
       5.57780e-01, 3.22640e-01, 3.52330e-01, 2.49800e-01, 5.44520e-01,
       2.90900e-01, 1.62864e+00, 3.32105e+00, 4.09740e+00, 2.77974e+00,
       2.37934e+00, 2.15505e+00, 2.36862e+00, 2.33099e+00, 2.73397e+00,
       1.65660e+00, 1.49632e+00, 1.12658e+00, 2.14918e+00, 1.41385e+00,
       3.53501e+00, 2.44668e+00, 1.22358e+00, 1.34284e+00, 1.42502e+00,
       1.27346e+00, 1.46336e+00, 1.83377e+00, 1.51902e+00, 2.24236e+00,
       2.92400e+00, 2.01019e+00, 1.80028e+00, 2.30040e+00, 2.44953e+00,
       1.20742e+00, 2.31390e+00, 1.39140e-01, 9.17800e-02, 8.44700e-02,
       6.66400e-02, 7.02200e-02, 5.42500e-02, 6.64200e-02, 5.78000e-02,
       6.58800e-02, 6.88800e-02, 9.10300e-02, 1.00080e-01, 8.30800e-02,
       6.04700e-02, 5.60200e-02, 7.87500e-02, 1.25790e-01, 8.37000e-02,
       9.06800e-02, 6.91100e-02, 8.66400e-02, 2.18700e-02, 1.43900e-02,
       1.38100e-02, 4.01100e-02, 4.66600e-02, 3.76800e-02, 3.15000e-02,
       1.77800e-02, 3.44500e-02, 2.17700e-02, 3.51000e-02, 2.00900e-02,
       1.36420e-01, 2.29690e-01, 2.51990e-01, 1.35870e-01, 4.35710e-01,
       1.74460e-01, 3.75780e-01, 2.17190e-01, 1.40520e-01, 2.89550e-01,
       1.98020e-01, 4.56000e-02, 7.01300e-02, 1.10690e-01, 1.14250e-01,
       3.58090e-01, 4.07710e-01, 6.23560e-01, 6.14700e-01, 3.15330e-01,
       5.26930e-01, 3.82140e-01, 4.12380e-01, 2.98190e-01, 4.41780e-01,
       5.37000e-01, 4.62960e-01, 5.75290e-01, 3.31470e-01, 4.47910e-01,
       3.30450e-01, 5.20580e-01, 5.11830e-01, 8.24400e-02, 9.25200e-02,
       1.13290e-01, 1.06120e-01, 1.02900e-01, 1.27570e-01, 2.06080e-01,
       1.91330e-01, 3.39830e-01, 1.96570e-01, 1.64390e-01, 1.90730e-01,
       1.40300e-01, 2.14090e-01, 8.22100e-02, 3.68940e-01, 4.81900e-02,
       3.54800e-02, 1.53800e-02, 6.11540e-01, 6.63510e-01, 6.56650e-01,
       5.40110e-01, 5.34120e-01, 5.20140e-01, 8.25260e-01, 5.50070e-01,
       7.61620e-01, 7.85700e-01, 5.78340e-01, 5.40500e-01, 9.06500e-02,
       2.99160e-01, 1.62110e-01, 1.14600e-01, 2.21880e-01, 5.64400e-02,
       9.60400e-02, 1.04690e-01, 6.12700e-02, 7.97800e-02, 2.10380e-01,
       3.57800e-02, 3.70500e-02, 6.12900e-02, 1.50100e-02, 9.06000e-03,
       1.09600e-02, 1.96500e-02, 3.87100e-02, 4.59000e-02, 4.29700e-02,
       3.50200e-02, 7.88600e-02, 3.61500e-02, 8.26500e-02, 8.19900e-02,
       1.29320e-01, 5.37200e-02, 1.41030e-01, 6.46600e-02, 5.56100e-02,
       4.41700e-02, 3.53700e-02, 9.26600e-02, 1.00000e-01, 5.51500e-02,
       5.47900e-02, 7.50300e-02, 4.93200e-02, 4.92980e-01, 3.49400e-01,
       2.63548e+00, 7.90410e-01, 2.61690e-01, 2.69380e-01, 3.69200e-01,
       2.53560e-01, 3.18270e-01, 2.45220e-01, 4.02020e-01, 4.75470e-01,
       1.67600e-01, 1.81590e-01, 3.51140e-01, 2.83920e-01, 3.41090e-01,
       1.91860e-01, 3.03470e-01, 2.41030e-01, 6.61700e-02, 6.72400e-02,
       4.54400e-02, 5.02300e-02, 3.46600e-02, 5.08300e-02, 3.73800e-02,
       3.96100e-02, 3.42700e-02, 3.04100e-02, 3.30600e-02, 5.49700e-02,
       6.15100e-02, 1.30100e-02, 2.49800e-02, 2.54300e-02, 3.04900e-02,
       3.11300e-02, 6.16200e-02, 1.87000e-02, 2.89900e-02, 6.21100e-02,
       7.95000e-02, 7.24400e-02, 1.70900e-02, 4.30100e-02, 1.06590e-01,
       8.98296e+00, 3.84970e+00, 5.20177e+00, 4.26131e+00, 4.54192e+00,
       3.83684e+00, 3.67822e+00, 4.22239e+00, 3.47428e+00, 4.55587e+00,
       3.69695e+00, 1.35222e+01, 4.89822e+00, 5.66998e+00, 6.53876e+00,
       9.23230e+00, 8.26725e+00, 1.11081e+01, 1.84982e+01, 1.96091e+01,
       1.52880e+01, 9.82349e+00, 2.36482e+01, 1.78667e+01, 8.89762e+01,
       1.58744e+01, 9.18702e+00, 7.99248e+00, 2.00849e+01, 1.68118e+01,
       2.43938e+01, 2.25971e+01, 1.43337e+01, 8.15174e+00, 6.96215e+00,
       5.29305e+00, 1.15779e+01, 8.64476e+00, 1.33598e+01, 8.71675e+00,
       5.87205e+00, 7.67202e+00, 3.83518e+01, 9.91655e+00, 2.50461e+01,
       1.42362e+01, 9.59571e+00, 2.48017e+01, 4.15292e+01, 6.79208e+01,
       2.07162e+01, 1.19511e+01, 7.40389e+00, 1.44383e+01, 5.11358e+01,
       1.40507e+01, 1.88110e+01, 2.86558e+01, 4.57461e+01, 1.80846e+01,
       1.08342e+01, 2.59406e+01, 7.35341e+01, 1.18123e+01, 1.10874e+01,
       7.02259e+00, 1.20482e+01, 7.05042e+00, 8.79212e+00, 1.58603e+01,
       1.22472e+01, 3.76619e+01, 7.36711e+00, 9.33889e+00, 8.49213e+00,
       1.00623e+01, 6.44405e+00, 5.58107e+00, 1.39134e+01, 1.11604e+01,
       1.44208e+01, 1.51772e+01, 1.36781e+01, 9.39063e+00, 2.20511e+01,
       9.72418e+00, 5.66637e+00, 9.96654e+00, 1.28023e+01, 6.71800e-01,
       6.28807e+00, 9.92485e+00, 9.32909e+00, 7.52601e+00, 6.71772e+00,
       5.44114e+00, 5.09017e+00, 8.24809e+00, 9.51363e+00, 4.75237e+00,
       4.66883e+00, 8.20058e+00, 7.75223e+00, 6.80117e+00, 4.81213e+00,
       3.69311e+00, 6.65492e+00, 5.82115e+00, 7.83932e+00, 3.16360e+00,
       3.77498e+00, 4.42228e+00, 1.55757e+01, 1.30751e+01, 4.34879e+00,
       4.03841e+00, 3.56868e+00, 4.64689e+00, 8.05579e+00, 6.39312e+00,
       4.87141e+00, 1.50234e+01, 1.02330e+01, 5.82401e+00, 5.70818e+00,
       5.73116e+00, 2.81838e+00, 2.37857e+00, 3.67367e+00, 5.69175e+00,
       4.83567e+00, 1.50860e-01, 1.83370e-01, 2.07460e-01, 1.05740e-01,
       1.11320e-01, 1.73310e-01, 2.79570e-01, 1.78990e-01, 2.89600e-01,
       2.68380e-01, 2.39120e-01, 1.77830e-01, 2.24380e-01, 6.26300e-02,
       4.52700e-02, 6.07600e-02, 1.09590e-01, 4.74100e-02])

In [36]:
df.CHAS.unique()

array([0, 1], dtype=int64)

In [37]:
df.RAD.unique()

array([ 1,  2,  3,  5,  4,  8,  6,  7, 24], dtype=int64)

In [38]:
df.TAX.unique()

array([296, 242, 222, 311, 307, 279, 252, 233, 243, 469, 226, 313, 256,
       284, 216, 337, 345, 305, 398, 281, 247, 270, 276, 384, 432, 188,
       437, 403, 193, 265, 255, 329, 402, 348, 224, 277, 300, 330, 315,
       244, 264, 223, 254, 198, 285, 241, 293, 245, 289, 358, 304, 287,
       430, 422, 370, 352, 351, 280, 335, 411, 187, 334, 666, 711, 391,
       273], dtype=int64)

### Value Extraction

In [39]:
df.CRIM

0       0.00632
1       0.02731
2       0.02729
3       0.03237
4       0.06905
5       0.02985
6       0.08829
7       0.14455
8       0.21124
9       0.17004
10      0.22489
11      0.11747
12      0.09378
13      0.62976
14      0.63796
15      0.62739
16      1.05393
17      0.78420
18      0.80271
19      0.72580
20      1.25179
21      0.85204
22      1.23247
23      0.98843
24      0.75026
25      0.84054
26      0.67191
27      0.95577
28      0.77299
29      1.00245
         ...
476     4.87141
477    15.02340
478    10.23300
479    14.33370
480     5.82401
481     5.70818
482     5.73116
483     2.81838
484     2.37857
485     3.67367
486     5.69175
487     4.83567
488     0.15086
489     0.18337
490     0.20746
491     0.10574
492     0.11132
493     0.17331
494     0.27957
495     0.17899
496     0.28960
497     0.26838
498     0.23912
499     0.17783
500     0.22438
501     0.06263
502     0.04527
503     0.06076
504     0.10959
505     0.04741
Name: CRIM, Length: 506, dtype: float64

In [40]:
df.CRIM.values

array([6.32000e-03, 2.73100e-02, 2.72900e-02, 3.23700e-02, 6.90500e-02,
       2.98500e-02, 8.82900e-02, 1.44550e-01, 2.11240e-01, 1.70040e-01,
       2.24890e-01, 1.17470e-01, 9.37800e-02, 6.29760e-01, 6.37960e-01,
       6.27390e-01, 1.05393e+00, 7.84200e-01, 8.02710e-01, 7.25800e-01,
       1.25179e+00, 8.52040e-01, 1.23247e+00, 9.88430e-01, 7.50260e-01,
       8.40540e-01, 6.71910e-01, 9.55770e-01, 7.72990e-01, 1.00245e+00,
       1.13081e+00, 1.35472e+00, 1.38799e+00, 1.15172e+00, 1.61282e+00,
       6.41700e-02, 9.74400e-02, 8.01400e-02, 1.75050e-01, 2.76300e-02,
       3.35900e-02, 1.27440e-01, 1.41500e-01, 1.59360e-01, 1.22690e-01,
       1.71420e-01, 1.88360e-01, 2.29270e-01, 2.53870e-01, 2.19770e-01,
       8.87300e-02, 4.33700e-02, 5.36000e-02, 4.98100e-02, 1.36000e-02,
       1.31100e-02, 2.05500e-02, 1.43200e-02, 1.54450e-01, 1.03280e-01,
       1.49320e-01, 1.71710e-01, 1.10270e-01, 1.26500e-01, 1.95100e-02,
       3.58400e-02, 4.37900e-02, 5.78900e-02, 1.35540e-01, 1.28160e-01,
       8.82600e-02, 1.58760e-01, 9.16400e-02, 1.95390e-01, 7.89600e-02,
       9.51200e-02, 1.01530e-01, 8.70700e-02, 5.64600e-02, 8.38700e-02,
       4.11300e-02, 4.46200e-02, 3.65900e-02, 3.55100e-02, 5.05900e-02,
       5.73500e-02, 5.18800e-02, 7.15100e-02, 5.66000e-02, 5.30200e-02,
       4.68400e-02, 3.93200e-02, 4.20300e-02, 2.87500e-02, 4.29400e-02,
       1.22040e-01, 1.15040e-01, 1.20830e-01, 8.18700e-02, 6.86000e-02,
       1.48660e-01, 1.14320e-01, 2.28760e-01, 2.11610e-01, 1.39600e-01,
       1.32620e-01, 1.71200e-01, 1.31170e-01, 1.28020e-01, 2.63630e-01,
       1.07930e-01, 1.00840e-01, 1.23290e-01, 2.22120e-01, 1.42310e-01,
       1.71340e-01, 1.31580e-01, 1.50980e-01, 1.30580e-01, 1.44760e-01,
       6.89900e-02, 7.16500e-02, 9.29900e-02, 1.50380e-01, 9.84900e-02,
       1.69020e-01, 3.87350e-01, 2.59150e-01, 3.25430e-01, 8.81250e-01,
       3.40060e-01, 1.19294e+00, 5.90050e-01, 3.29820e-01, 9.76170e-01,
       5.57780e-01, 3.22640e-01, 3.52330e-01, 2.49800e-01, 5.44520e-01,
       2.90900e-01, 1.62864e+00, 3.32105e+00, 4.09740e+00, 2.77974e+00,
       2.37934e+00, 2.15505e+00, 2.36862e+00, 2.33099e+00, 2.73397e+00,
       1.65660e+00, 1.49632e+00, 1.12658e+00, 2.14918e+00, 1.41385e+00,
       3.53501e+00, 2.44668e+00, 1.22358e+00, 1.34284e+00, 1.42502e+00,
       1.27346e+00, 1.46336e+00, 1.83377e+00, 1.51902e+00, 2.24236e+00,
       2.92400e+00, 2.01019e+00, 1.80028e+00, 2.30040e+00, 2.44953e+00,
       1.20742e+00, 2.31390e+00, 1.39140e-01, 9.17800e-02, 8.44700e-02,
       6.66400e-02, 7.02200e-02, 5.42500e-02, 6.64200e-02, 5.78000e-02,
       6.58800e-02, 6.88800e-02, 9.10300e-02, 1.00080e-01, 8.30800e-02,
       6.04700e-02, 5.60200e-02, 7.87500e-02, 1.25790e-01, 8.37000e-02,
       9.06800e-02, 6.91100e-02, 8.66400e-02, 2.18700e-02, 1.43900e-02,
       1.38100e-02, 4.01100e-02, 4.66600e-02, 3.76800e-02, 3.15000e-02,
       1.77800e-02, 3.44500e-02, 2.17700e-02, 3.51000e-02, 2.00900e-02,
       1.36420e-01, 2.29690e-01, 2.51990e-01, 1.35870e-01, 4.35710e-01,
       1.74460e-01, 3.75780e-01, 2.17190e-01, 1.40520e-01, 2.89550e-01,
       1.98020e-01, 4.56000e-02, 7.01300e-02, 1.10690e-01, 1.14250e-01,
       3.58090e-01, 4.07710e-01, 6.23560e-01, 6.14700e-01, 3.15330e-01,
       5.26930e-01, 3.82140e-01, 4.12380e-01, 2.98190e-01, 4.41780e-01,
       5.37000e-01, 4.62960e-01, 5.75290e-01, 3.31470e-01, 4.47910e-01,
       3.30450e-01, 5.20580e-01, 5.11830e-01, 8.24400e-02, 9.25200e-02,
       1.13290e-01, 1.06120e-01, 1.02900e-01, 1.27570e-01, 2.06080e-01,
       1.91330e-01, 3.39830e-01, 1.96570e-01, 1.64390e-01, 1.90730e-01,
       1.40300e-01, 2.14090e-01, 8.22100e-02, 3.68940e-01, 4.81900e-02,
       3.54800e-02, 1.53800e-02, 6.11540e-01, 6.63510e-01, 6.56650e-01,
       5.40110e-01, 5.34120e-01, 5.20140e-01, 8.25260e-01, 5.50070e-01,
       7.61620e-01, 7.85700e-01, 5.78340e-01, 5.40500e-01, 9.06500e-02,
       2.99160e-01, 1.62110e-01, 1.14600e-01, 2.21880e-01, 5.64400e-02,
       9.60400e-02, 1.04690e-01, 6.12700e-02, 7.97800e-02, 2.10380e-01,
       3.57800e-02, 3.70500e-02, 6.12900e-02, 1.50100e-02, 9.06000e-03,
       1.09600e-02, 1.96500e-02, 3.87100e-02, 4.59000e-02, 4.29700e-02,
       3.50200e-02, 7.88600e-02, 3.61500e-02, 8.26500e-02, 8.19900e-02,
       1.29320e-01, 5.37200e-02, 1.41030e-01, 6.46600e-02, 5.56100e-02,
       4.41700e-02, 3.53700e-02, 9.26600e-02, 1.00000e-01, 5.51500e-02,
       5.47900e-02, 7.50300e-02, 4.93200e-02, 4.92980e-01, 3.49400e-01,
       2.63548e+00, 7.90410e-01, 2.61690e-01, 2.69380e-01, 3.69200e-01,
       2.53560e-01, 3.18270e-01, 2.45220e-01, 4.02020e-01, 4.75470e-01,
       1.67600e-01, 1.81590e-01, 3.51140e-01, 2.83920e-01, 3.41090e-01,
       1.91860e-01, 3.03470e-01, 2.41030e-01, 6.61700e-02, 6.72400e-02,
       4.54400e-02, 5.02300e-02, 3.46600e-02, 5.08300e-02, 3.73800e-02,
       3.96100e-02, 3.42700e-02, 3.04100e-02, 3.30600e-02, 5.49700e-02,
       6.15100e-02, 1.30100e-02, 2.49800e-02, 2.54300e-02, 3.04900e-02,
       3.11300e-02, 6.16200e-02, 1.87000e-02, 1.50100e-02, 2.89900e-02,
       6.21100e-02, 7.95000e-02, 7.24400e-02, 1.70900e-02, 4.30100e-02,
       1.06590e-01, 8.98296e+00, 3.84970e+00, 5.20177e+00, 4.26131e+00,
       4.54192e+00, 3.83684e+00, 3.67822e+00, 4.22239e+00, 3.47428e+00,
       4.55587e+00, 3.69695e+00, 1.35222e+01, 4.89822e+00, 5.66998e+00,
       6.53876e+00, 9.23230e+00, 8.26725e+00, 1.11081e+01, 1.84982e+01,
       1.96091e+01, 1.52880e+01, 9.82349e+00, 2.36482e+01, 1.78667e+01,
       8.89762e+01, 1.58744e+01, 9.18702e+00, 7.99248e+00, 2.00849e+01,
       1.68118e+01, 2.43938e+01, 2.25971e+01, 1.43337e+01, 8.15174e+00,
       6.96215e+00, 5.29305e+00, 1.15779e+01, 8.64476e+00, 1.33598e+01,
       8.71675e+00, 5.87205e+00, 7.67202e+00, 3.83518e+01, 9.91655e+00,
       2.50461e+01, 1.42362e+01, 9.59571e+00, 2.48017e+01, 4.15292e+01,
       6.79208e+01, 2.07162e+01, 1.19511e+01, 7.40389e+00, 1.44383e+01,
       5.11358e+01, 1.40507e+01, 1.88110e+01, 2.86558e+01, 4.57461e+01,
       1.80846e+01, 1.08342e+01, 2.59406e+01, 7.35341e+01, 1.18123e+01,
       1.10874e+01, 7.02259e+00, 1.20482e+01, 7.05042e+00, 8.79212e+00,
       1.58603e+01, 1.22472e+01, 3.76619e+01, 7.36711e+00, 9.33889e+00,
       8.49213e+00, 1.00623e+01, 6.44405e+00, 5.58107e+00, 1.39134e+01,
       1.11604e+01, 1.44208e+01, 1.51772e+01, 1.36781e+01, 9.39063e+00,
       2.20511e+01, 9.72418e+00, 5.66637e+00, 9.96654e+00, 1.28023e+01,
       6.71800e-01, 6.28807e+00, 9.92485e+00, 9.32909e+00, 7.52601e+00,
       6.71772e+00, 5.44114e+00, 5.09017e+00, 8.24809e+00, 9.51363e+00,
       4.75237e+00, 4.66883e+00, 8.20058e+00, 7.75223e+00, 6.80117e+00,
       4.81213e+00, 3.69311e+00, 6.65492e+00, 5.82115e+00, 7.83932e+00,
       3.16360e+00, 3.77498e+00, 4.42228e+00, 1.55757e+01, 1.30751e+01,
       4.34879e+00, 4.03841e+00, 3.56868e+00, 4.64689e+00, 8.05579e+00,
       6.39312e+00, 4.87141e+00, 1.50234e+01, 1.02330e+01, 1.43337e+01,
       5.82401e+00, 5.70818e+00, 5.73116e+00, 2.81838e+00, 2.37857e+00,
       3.67367e+00, 5.69175e+00, 4.83567e+00, 1.50860e-01, 1.83370e-01,
       2.07460e-01, 1.05740e-01, 1.11320e-01, 1.73310e-01, 2.79570e-01,
       1.78990e-01, 2.89600e-01, 2.68380e-01, 2.39120e-01, 1.77830e-01,
       2.24380e-01, 6.26300e-02, 4.52700e-02, 6.07600e-02, 1.09590e-01,
       4.74100e-02])

In [41]:
df.CHAS.values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [44]:
df.CHAS.value_counts()

0    471
1     35
Name: CHAS, dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null int64
TAX        506 non-null int64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(11), int64(3)
memory usage: 55.4 KB

### Statistical Functions

In [46]:
df.mean()

CRIM         3.593761
ZN          11.363636
INDUS       11.136779
CHAS         0.069170
NOX          0.554695
RM           6.284634
AGE         68.574901
DIS          3.795043
RAD          9.549407
TAX        408.237154
PTRATIO     18.455534
B          356.674032
LSTAT       12.653063
MEDV        22.532806
dtype: float64

In [47]:
df.median()

CRIM         0.25651
ZN           0.00000
INDUS        9.69000
CHAS         0.00000
NOX          0.53800
RM           6.20850
AGE         77.50000
DIS          3.20745
RAD          5.00000
TAX        330.00000
PTRATIO     19.05000
B          391.44000
LSTAT       11.36000
MEDV        21.20000
dtype: float64

In [49]:
df.describe() # summary statistics for Float and Integer Values

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.647422,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [52]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,506.0,3.593761,8.596783,0.00632,0.082045,0.25651,3.647422,88.9762
ZN,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
INDUS,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
NOX,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
RM,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
AGE,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
DIS,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
RAD,506.0,9.549407,8.707259,1.00000,4.000000,5.00000,24.000000,24.0000
TAX,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
PTRATIO,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
B,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
LSTAT,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700
MEDV,506.0,22.532806,9.197104,5.00000,17.025000,21.20000,25.000000,50.0000

In [50]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [51]:
df.CHAS = df.CHAS.astype('object')

# int64, float64, bool, category

In [55]:
df['CHAS1'] = df.CHAS.astype('int64')

In [56]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CHAS1
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,0
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,0
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,0

In [57]:
df.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CHAS1
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806,0.069170
std,8.596783,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104,0.253994
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000,0.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000,0.000000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000,0.000000
75%,3.647422,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000,0.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000,1.000000